<div class="container-fluid">
<h1>Listing products</h1>
<%if params[:designer_id]%>
<%=@products.last.designer.name%>
<%=image_tag @products.last.designer.image_url(:thumb)%>
<%end%>
<br />
<% @products.each do |product| %>
<%#*<div class="span12">%>
  <div class="span3">    
    <%= image_tag product.image_url(:thumb) %><br/>
   Name :<%= product.name %>
   Price :<%= product.price %><br/>
    <%= link_to 'Show', product %>
    <%= link_to 'Edit', edit_product_path(product) %>
    <%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %>

  </div>
<%#*</div>%>
<% end %>
<div class="span12">
<%= link_to 'New Product', new_product_path %>
</div>
</div>